.fade-enter-active,
.fade-leave-active {
  transition: all .5s ease;
}

.fade-enter,
.fade-leave,
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.basket-badge {
  background-color: #6c757d;
  border-radius: 0.375rem;
  color: #ffffff;
  padding: 5px 10px;
}
